@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body 
{
    background-color:Black;
}
    
.form-wrapper 
{
    float:left;
    width: 100%;
    max-width:460px;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top:5px;
}
    
.form-wrapper input 
{
    float: left;
    width: 80%;
    height: 10px;
    padding: 10px 5px;
    font: 16px 'Arial', 'trebuchet MS', 'Tahoma';
    border: 0;
    -moz-border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;      
}

.form-wrapper button 
{       
    padding: .5em 1em; 
    white-space: nowrap; 
	overflow: hidden;
    position: relative;
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 30px;
    width: 30px;
    font: bold 15px/40px 'Arial', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   

.form-wrapper button:before 
{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-family: 'FontAwesome';
    content: '\f002';
    text-align: center;
    color: #fff;
    border-radius: 5px;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smooth: always;
}

.results-search
{
    
}

.results-content
{
    text-align:left;
    color:White;
    clear:both;
    padding:10px 10px;
    border: 1px solid #666;
    background: #222;
    -webkit-border-radius: 3px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    max-width: 537px;
    margin-left:4px;
    margin-bottom:10px;
    overflow: hidden; 
}

.wrapper 
{
    width: 100%;
}

.wrapper:after 
{
    clear: both;
    display: block;
    content: ' ';
}

.left_container
{
    float: left;
    max-width: 40%;
    height: 100%;
}

right_container 
{
    float: left;
    max-width: 70%;
    height: 100%;
}   

.left_container img 
{
    max-width:95%;
}

.left_container .clip
{
    width:150px;
    height:129px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.right_container .content 
{
    padding-left:44px;
}

.right_container .content .ui
{
    float:left;
}

.right_container .content .buttons
{
    padding:5px 0px 5px 0px;
}


.deal
{
    padding-bottom:7px;
    font-weight:bold;
    font-family: 'Arvo',serif;
    font-size:18px;
}

.title
{
    padding-top:7px;
    padding-bottom:5px;
    font-weight:bold;
    font-family: 'Arvo',serif;
    font-size:18px;
}

.context
{
    font-family: Arial;
    font-size:12px;
    color:#F5F5DC;
}

.button-padding
{
    
}

      
