@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Radsurge</title>
    <!-- DOB 5/15/15-->
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href='@Url.Content("~/Content/Styles/bootstrap.min.css")'>

    <!-- Custom CSS -->
    <link rel="stylesheet" href='@Url.Content("~/Content/Styles/grayscale.css")'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Intro Header -->
    <header class="intro" style="background-image:none; background-color:Black;">
        <div class="intro-body" style="background-image:none; background-color:Black;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2" style="background-image:none; background-color:Black;">
                        <div class="brand-heading"><img src='@Url.Content("~/Content/Images/logo.png")' width="70%" height="70%"/></div>
                    </div>
                </div>
            </div>
        </div>
    </header>






</body>

</html>

