@{
    ViewBag.Title = "REST APIs | Radsurge Developers";
    Layout = "~/Views/Shared/_Radsurge.cshtml";
}

@section Sidebar{
<h3>Public API</h3>
<ul class="listapi">
    <li class="txt"><a href="#">GET api/coupons/show</a></li>
    <li class="txt"><a href="#">GET api/coupons/status</a></li>
</ul>
}

<!-- Heading levels -->
@*<h1>Heading level 1</h1>
<h2>Heading level 2</h2>
<h3>Heading level 3</h3>
<h4>Heading level 4</h4>
<h5>Heading level 5</h5>
<h6>Heading level 6</h6>
<hr>*@

<link rel="stylesheet" href='@Url.Content("~/Content/Styles/nightbright.css")'>
<script type="text/javascript" src='@Url.Content("http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js")'></script>

<h1>REST APIs</h1>
<hr>

<!-- Paragraphs -->
<p>The REST API provides programmatic access to read Radsurge coupon data. The REST API is lightweight and will seamlessly integrate into your application; responses are available in JSON format.</p>
<hr>

<span>
<h3>GET coupons/show</h3>

<p>Returns a collection of the most recent Tweets and retweets posted by the authenticating user and the users they follow. The home timeline is central to how most users interact with the Twitter service.
Up to 800 Tweets are obtainable on the home timeline. It is more volatile for users that follow many users or follow users who tweet frequently.</p>

<h4>Resource URL</h4>
<p><code>https://www.radsurge.com/rest/coupons/show</code></p>

<h4>Parameters</h4>
<table class="table table-striped">
	<tbody>
		<tr>
			<th>count</th>
			<td>returns count</td>
		</tr>
	</tbody>
</table>

<h4>Example Result</h4>
<pre><code class="json">
[
  {
    "coordinates": null,
    "truncated": false,
    "created_at": "Tue Aug 28 21:16:23 +0000 2012",
    "favorited": false,
    "id_str": "240558470661799936",
    "in_reply_to_user_id_str": null
    }
]
</code></pre>
</span>

@section Scripts{
<script>hljs.initHighlightingOnLoad();</script>
}