@{
    ViewBag.Title = "REST APIs | Radsurge Developers";
    Layout = "~/Views/Shared/_Radsurge.cshtml";
}

@section Sidebar{
<h3>Public API</h3>
<ul class="listapi">
    <li class="txt"><a href="#show">GET api/coupons/show</a></li>
    <li class="txt"><a href="#status">GET api/coupons/status</a></li>
</ul>
}

<!-- Heading levels -->
@*<h1>Heading level 1</h1>
<h2>Heading level 2</h2>
<h3>Heading level 3</h3>
<h4>Heading level 4</h4>
<h5>Heading level 5</h5>
<h6>Heading level 6</h6>
<hr>*@

<link rel="stylesheet" href='@Url.Content("~/Content/Styles/nightbright.css")'>
<script type="text/javascript" src='@Url.Content("http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js")'></script>

<h1>REST APIs</h1>
<hr>

<!-- Header -->
<p>The REST API provides programmatic access to read Radsurge merchant data. The REST API is lightweight and will seamlessly integrate into your application; responses are available in JSON format.</p>
<hr>

<!-- Call -->
<span id="show"></span>
<h3>GET coupons/show</h3>
<p>Returns the merchant and coupon data based on the supplied <code>surge_id</code>.</p>
<h4>Resource URL</h4>
<p><code>https://www.radsurge.com/rest/coupons/show</code></p>
<h4>Parameters</h4>
<table class="table table-striped">
	<tbody>
		<tr>
			<th>developer_id</th>
			<td>Your unique id generated during sign-up.</td>
		</tr>
		<tr>
			<th>surge_id</th>
			<td>The id of a given surge.</td>
		</tr>
	</tbody>
</table>
<h4>Example Result</h4>
<pre><code class="json">
[
  {
    "developer_id": 12345,
    "surge_id": 67890,
    "surge_word" : "RADSURGE",
    "merchant_name": "Uptown Funk gon' give it to you",
    "merchant_url" : "http://merchant.biz",
    "merchant_deal": "15% off of all funk",
    "merchant_misc_txt" : "Act now while supplies last",
    "merchant_logo_url" : "http://a1.radimg.com/images/logo.gif"
  }
]
</code></pre>

<hr>

<!-- Call -->
<span id="status"></span>
<h3>GET coupons/status</h3>
<p>Returns if a surge is active or not.</p>
<h4>Resource URL</h4>
<p><code>https://www.radsurge.com/rest/coupons/status</code></p>
<h4>Parameters</h4>
<table class="table table-striped">
	<tbody>
		<tr>
			<th>developer_id</th>
			<td>Your unique id generated during sign-up.</td>
		</tr>
		<tr>
			<th>surge_id</th>
			<td>The id of a given surge.</td>
		</tr>
	</tbody>
</table>
<h4>Example Result</h4>
<pre><code class="json">
[
  {
    "active": true
  }
]
</code></pre>

@section Scripts{
<script>hljs.initHighlightingOnLoad();</script>
}